{
  "plugins": [
    "css"
  ],
  "extends": ["@nuxt", "plugin:css/standard", "plugin:prettier/recommended", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["Warn"]
  }
}
